[submodule "yang-schemas"]
	path = yang-schemas
	url = https://github.com/FRINXio/yang-schemas
[submodule "sample-topology/cli-testtool"]
	path = sample-topology/cli-testtool
	url = https://github.com/FRINXio/cli-testtool
